body{
    /* background: #bdc3c7;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #4A919E, #BED3C3); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px; 
    width: 100%; */
    background-image : url("https://images3.alphacoders.com/823/thumb-1920-82317.jpg");
    background-size:cover;
    margin: 0;
    padding: 0;
  font-family: sans-serif;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */