.btt{
    padding: 0px;
    width: 20%;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    border: none;
  margin-left: 570px;
    outline: none;
    height: 30px;
    background-color: aqua;
    font-size: 16px;
    border-radius: 16px;
    text-align: center;
left: 50%;
}
