*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    width: auto;
    
}




.col ico :hover{
    
    transform: translate(-10px);
}
.foot container{
    height: 10px;
    ;
}

